/*     font-family: 'Caladea', serif;

    font-family: 'Prata', serif; */

body {
  background-color: #588da8;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Caladea', serif;
}

section {
  padding: 5%;
  color:white;
}

h2 {
  background-color: rgba(255, 255, 255, 0.6);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  color: black;
  padding: 0.5rem 0 0.5rem 5px;
}


.header {
  background-image: url("images/junglepic.jpg");
  padding:5% 0 5%;
  letter-spacing: 2px;
}

.header-text{
  padding: 1% 15%;
  background-color: rgba(255, 255, 255, 0.6);
}

.mynavbar{
  margin: 3%;
  padding: 10px;
  text-align: left;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  color: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 5px;
}

.mynavbar p{
  display: inline-block;
  color: #588da8;
  margin: 0;
}

.nav-button{
  color: #588da8;
  border: none;
  border-radius: 5px;
  float:right;
  margin: 0 5px;
  background: none;
}

.menu-button{
  color: #588da8;
  border: none;
  border-radius: 5px;
  margin: 0;
  background: none;
}

.page-dropup-container{
  padding: 2px 0;
  text-align: center;
}

.page-dropup-list{
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.dropup-item{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 50%, rgba()rgba(255, 255, 255, 0.6) 100%);
  padding: 3px;
  text-decoration: none;
  margin: 2px 0;
  border-bottom: solid 0.5px #588da8;
;
}


.hidden{
  display:none;
}

/* TABLET AND UP FROM HERE!!! */


@media only screen and (min-width:1007px) {
  .mycontainer {
    margin:0 5%;
    padding:5% 5% 30px;
    height:15%;
  }
  section {
    padding: 0 5%;
  }
  .mynavbar{
    margin: 1%;
    position: fixed;
    top: 10px;
    left:0;
    width:10%;
    height:80%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
  }
  .nav-button{
    background: none;
    color: #588da8;
    margin: 10% auto;
    border: none;
    border-radius: 1px;
  }
}

/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */
